<%= stylesheet_link_tag "t_index", :media => "all" %>
<%= stylesheet_link_tag "index", :media => "all" %>
<%= stylesheet_link_tag "modal", :media => "all" %>

<header class="tiktoker_index">
  <nav>
    <div class="top-left">
      <!--<p class="search"><%= image_tag 'search_white.png', size: '25x25' %></p>-->
      <!--<p>search</p>-->
    </div>
        
        
    <div class="top-center">  
      
    </div>
      
    <div class="top-right">
      <div id="modalOpen" class="menu">MENU</div>
    </div>
  </nav>
</header>

  <div class="image_slider">
    <div class="image1"><%= image_tag 'SAYA.jpg', size: '350x300' %><p>click here!!</p><span>さや</span></div>
    <div class="image2"><%= image_tag 'YUKA.jpg', size: '350x300' %><p>click here!!</p><span>ゆか</span></div>
    <div class="image3"><%= image_tag 'sora1.jpg', size: '350x300' %><p>click here!!</p><span>そら</span></div>
    <div class="image4"><%= image_tag 'はしも。1.jpg', size: '350x300' %><p>click here!!</p><span>はしも。</span></div>
    <div class="image5"><%= image_tag 'SAYA.jpg', size: '350x300' %><p>click here!!</p><span>さや</span></div>
    <div class="image6"><%= image_tag 'YUKA.jpg', size: '350x300' %><p>click here!!</p><span>ゆか</span></div>
    <div class="image7"><%= image_tag 'sora1.jpg', size: '350x300' %><p>click here!!</p><span>そら</span></div>
    <div class="image8"><%= image_tag 'はしも。1.jpg', size: '350x300' %><p>click here!!</p><span>はしも。</span></div>
    <div class="image9"><%= image_tag 'SAYA.jpg', size: '350x300' %><p>click here!!</p><span>さや</span></div>
    <div class="image10"><%= image_tag 'YUKA.jpg', size: '350x300' %><p>click here!!</p><span>ゆか</span></div>
    <div class="image11"><%= image_tag 'sora1.jpg', size: '350x300' %><p>click here!!</p><span>そら</span></div>
    <div class="image12"><%= image_tag 'はしも。1.jpg', size: '350x300' %><p>click here!!</p><span>はしも。</span></div>
  </div>


<div class="above"><p>tiktoker 一覧</p></div>
  <div class="menber_activity">
      <div class="menber_activity_image1">
      <h2> 1 さや </h2>
      <div><span><%= image_tag 'SAYA.jpg', size: '350x300' %></span><p>天真爛漫のtiktoker。心踊る世界を夢見て、tiktokerへと転身。「私の道を決めるのは、質でも量でもない、心のトキメキ具合だ！（ドン）」</p></div>
      </div>
    <div class="menber_activity_image2">
      <h2> 2 ゆか </h2>
      <div><span><%= image_tag 'YUKA.jpg', size: '350x300' %></span><p>誠心誠意のtiktoker。見たものを和ませ、唯一無二の感情を生み出す。彼女のモットーは、「雨のち晴れ」</p></div>
    </div>
    <div class="menber_activity_image3">
      <h2> 3 そら </h2>
      <div><span><%= image_tag 'sora1.jpg', size: '350x300' %></span><p>理路整然のtiktoker。論理的に思考し、最適解を常に導くことを生きがいにしている。「詰将棋をしているときに浮かぶ棋譜」をあるあるネタにしてくる。</p></div>
    </div>
    <div class="menber_activity_image4">
      <h2> 4 はしも。 </h2>
      <div><span><%= image_tag 'はしも。1.jpg', size: '350x300' %></span><p>四苦八苦のtiktoker。常にネタを考えているが、ボツになることもしばしば。彼が唯一市民権を得た特技は、ネタがなくて煮詰まった時に出る「困り顔」</p></div>
    </div>
  </div>
  <div class="under"></div>
  
    <section class="profile">
    <div class="information">
      <p>tiktoker さや</p>
    </div>
  
    <!--モーダルウィンドウ（MENUクリック時に呼び出されるHTML/CSS要素）-->
  <div id="easyModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Great job 🎉</h2>
        <span class="modalClose">×</span>
      </div>
      <div class="modal-body">
        <p>You've just displayed this awesome Modal Window!</p>
        <p>Let's enjoy learning JavaScript ☺️</p>
        <a href="https://twitter.com/unounounouno31"><img class="twitter_icon" src="/assets/twitter_icon.jpeg" alt="twitter" width="30" height="30"></a>
        <a href="https://www.youtube.com/"><img class="youtube_icon" src="/assets/youtube.jpeg" alt="youtube" width="30" height="30"></a>
        <p></p>
        <ul>
          <nav>
            <li><%= link_to '会社概要', root_path, class: "text-decoration-none" %></li>
            <li><%= link_to 'tiktoker紹介', tiktokers_path, class: "text-decoration-none" %></li>
            <li><%= link_to 'Pythonによるボケて！のサイトから大喜利のお題をWebスクレイピングした大喜利保存サイト boke', bokes_path, class: "text-decoration-none" %></li>
            <li><%= link_to '自己紹介', profiles_path, class: "text-decoration-none" %></li>
          </nav>
        </ul>
        <div>今までのサイト（別ページへ）　</div>
        <p><%= link_to '楽天の書籍検索APIを用いたブックレビューサイト myfavorites ', 'https://bookreview20220205.herokuapp.com/', class: "text-decoration-none" %></p>
      </div>
    </div>
  </div>
  <!--モーダルウィンドウ（終）-->
  <div class="under">事業内容</div>
  <div class="contents_bar">
    <span class="A"><%= link_to tiktokers_path do %><%= image_tag 'SAYA_up.jpeg', size: '450x350' %><% end %><p>tiktokerの動画コンテンツ販売、写真素材、グッズ作成、プロモーション活動、広告宣伝などのマーケティング活動</p></span>
    <span class="B"><%= link_to bokes_path do %><%= image_tag 'BOKE_up.png', size: '450x350' %><% end %><p>Webアプリケーションの作成　「Pythonによるボケて！のサイトから大喜利のお題をWebスクレイピングした大喜利保存サイト boke」</p></span>
    <span class="C"><%= link_to 'https://bookreview20220205.herokuapp.com/' do %><%= image_tag 'MYFAVORITES_up.jpeg', size: '450x350' %><% end %><p>Webアプリケーションの作成　「楽天の書籍検索APIを利用したブックレビューサイト myfavorites」</p></span>
  </div>
  
  <footer>
  <div>
    <span>お問合せ</span>
    <span>プライバシーポリシー</span>
    <span>サイトマップ</span>
  </div>
  <div>
    <div>© Copyright 2022 動画コンテンツ販売.</div>
    <div>動画コンテンツ販売 by FIT-Web Create. Powered by WordPress.</div>
  </div>
</footer>
  
      <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 